/* Styles for ledger page */

.ledger-layout {
    @apply flex gap-x-2 justify-between;
    flex: 2 1 auto;
    max-height: 795px;
    overflow-y: hidden;
}

.ledger-block-border {
    @apply border border-solid border-gray-300 rounded-md;
}
