body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background: transparent;
  padding: 10px 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
}

.footer {
  text-align: center;
  padding: 10px;
  background: transparent;
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #603a6b;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.separator {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid white;
}

.separator::before {
  margin-right: .25em;
}

.separator::after {
  margin-left: .25em;
}

.terms {
  margin-top: 20px;
  font-size: 0.8rem;
}
