@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom colors with alpha values */

body {
  @apply font-sans;
}

/* src/app/globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; /* Ensure the layout container spans the full width */
  margin: 0 auto;
}

.header {
  background: transparent;
  padding: 10px 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1em auto;
}

.nav-home {
  flex: 3 0 auto;
  display: flex;
  justify-content: end;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex: 5 0 auto;
  gap: 5px;
}

.nav-links li {
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
  width: 100%; /* Ensure content spans the full width */
}


.home-hero-container {
  display: flex; /* Ensure the container is a flex container */
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  /* background: url('/path-to-your-background-image.png') no-repeat center center;
  background-size: cover; */
  width: 100%;
}

.home-hero {
  max-width: 1200px; /* Set a max width for the hero content */
  width: 100%; /* Ensure it takes the full width of its container */
}

.footer {
  text-align: center;
  padding: 10px;
  background: transparent;
  width: 100%; /* Ensure footer spans the full width */
}

.hero-image {
  flex: 1;
}

.hero-text {
  flex: 2;
  max-width: 600px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.hero-text button {
  margin-top: 20px;
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #603a6b;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.separator {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid white;
}

.separator::before {
  margin-right: .25em;
}

.separator::after {
  margin-left: .25em;
}

.terms {
  margin-top: 20px;
  font-size: 0.8rem;
}



.goal-container {
  @apply rounded-md w-4/5;
  background-color: rgba(41, 20, 74, 0.83);
  height: 80px;
  padding: .5em;
}

.prog-bar {
  @apply rounded-md;
  height: 20px;
  background-color: rgba(242, 200, 117, 1);
}

/* background: rgba(217, 114, 157, 1);
 */
